# source TypeScript, tests, docs
/src
/tests
/*.ts$
/*.md$
/webpack.config.js
/tsconfig.json

# git and editor configs
.git/
.vscode/

# node_modules you don’t need at runtime
node_modules/
!node_modules/ajv/**   # keep runtime deps if you need them
!node_modules/minimist/**
!node_modules/@sidvind/**

# dev-only files
*.log
.DS_Store