# source TypeScript, tests, docs
/src
/tests
/*.ts$
/*.md$
/webpack.config.js
/tsconfig.json

# git and editor configs
.git/
.vscode/

# node_modules you don’t need at runtime

# dev-only files
*.log
.DS_Store